<div class="task-box text-center">Task ID : {{ taskInfo.id }}</div>
<div class="task-box">
  <div class="d-flex justify-content-start">
    <div *ngFor="let lbl of taskInfo.fields.labels" class="lbl-body mr-4">
      {{ lbl }}
    </div>
  </div>
</div>
<div class="task-box">
  <div class="d-flex justify-content-start">
    <div class="text-center info-box mr-4">
      <div class="box-header">KEY</div>
      <div class="box-body">{{ taskInfo.key }}</div>
    </div>
    <div class="text-center info-box mr-4">
      <div class="box-header">dueDate</div>
      <div class="box-body">{{ clearDate | date }}</div>
    </div>
    <div class="text-center info-box mr-4">
      <div class="box-header">duration</div>
      <div class="box-body">
        {{ taskInfo.fields.timetracking.originalEstimateSeconds / 8 / 60 / 60 }}
        Working Days
      </div>
    </div>
  </div>
</div>

<div class="d-flex task-box">
  <span class="label">summary</span>
  <span class="value">{{ taskInfo.fields.summary }}</span>
</div>
<div class="d-flex task-box">
  <span class="label">Issue Description</span>
  <span class="value">{{ taskInfo.fields.issuetype.description }}</span>
</div>
