.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #dadada;
}
.label {
  flex: 30%;
  padding: 2px 10px;
  height: 100%;
}
.value {
  display: inline;
  flex: 65%;
  text-align: center;
  width: 80px;
  padding: 2px 10px;
  border-left: 1px solid #dadada;
}
